.custom-text-area {
    -fx-background-color: #b7a993; /* Gold background color */
    -fx-control-inner-background: #b7a993; /* Inner background color */
    -fx-border-color: #b7a993; /* Dark Golden Rod border color */
    -fx-border-width: 0px; /* Border width */
    -fx-border-radius: 0px; /* Border radius */
    -fx-background-radius: 5px; /* Background radius */
    -fx-text-fill: #000000; /* Text color, black */
    -fx-font-size: 14px; /* Font size */
}

@font-face {
    font-family: "Pixelify Sans";
    src: url("/fonts/PixelifySans-Regular.ttf");
}

.pixelify-sans {
    -fx-font-family: "Pixelify Sans";
}
